---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w295
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '50'
      X-Edgeconnect-Origin-Mex-Latency:
      - '242'
      - '677'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_6ECi3XbVwcswTvD"}}'
  recorded_at: Thu, 05 Feb 2015 21:24:49 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_6ECi3XbVwcswTvD&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w625
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '18'
      - '66'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1185'
      - '193'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true}}'
  recorded_at: Thu, 05 Feb 2015 21:24:51 GMT
recorded_with: VCR 2.9.2
