---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Name=Division+Test&Request=createDivision&Token=<QUALTRICS_TOKEN>&User=rakhee.jairamani%40<QUALTRICS_ORGANIZATION>.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w16
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '12'
      - '31'
      X-Edgeconnect-Origin-Mex-Latency:
      - '154'
      - '637'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":"DV_3f8YeXaR2vfP3sp"}'
  recorded_at: Sat, 19 Mar 2016 20:43:03 GMT
recorded_with: VCR 3.0.1
