---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w18
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      - '6'
      X-Edgeconnect-Origin-Mex-Latency:
      - '230'
      - '669'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_emkzTL08MvdBaOV"}}'
  recorded_at: Tue, 03 Mar 2015 16:05:27 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_emkzTL08MvdBaOV&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w015
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '14'
      - '5'
      X-Edgeconnect-Origin-Mex-Latency:
      - '222'
      - '643'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_8rch1z9XaqPya0Z"}}'
  recorded_at: Tue, 03 Mar 2015 16:05:28 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_emkzTL08MvdBaOV&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w541
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '13'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '273'
      - '892'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true}}'
  recorded_at: Tue, 03 Mar 2015 16:05:29 GMT
recorded_with: VCR 2.9.3
