---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w19
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '12'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '260'
      - '673'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_aVJK6RhYuF0WIoR"}}'
  recorded_at: Thu, 26 Feb 2015 16:46:11 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_aVJK6RhYuF0WIoR&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w634
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '13'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '220'
      - '759'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_b7XLGkWIAdPxLx3"}}'
  recorded_at: Thu, 26 Feb 2015 16:46:12 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_aVJK6RhYuF0WIoR&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w541
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '241'
      - '646'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true}}'
  recorded_at: Thu, 26 Feb 2015 16:46:13 GMT
recorded_with: VCR 2.9.2
