---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w8
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '16'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1803'
      - '379'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"PanelID\":\"ML_8vw3bXmt0vrpqm1\"}}"
  recorded_at: Wed, 11 Feb 2015 19:16:03 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_8vw3bXmt0vrpqm1&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w11
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '23'
      - '25'
      X-Edgeconnect-Origin-Mex-Latency:
      - '266'
      - '667'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"Success\":true}}"
  recorded_at: Wed, 11 Feb 2015 19:16:04 GMT
recorded_with: VCR 2.9.3
