---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w11
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '14'
      X-Edgeconnect-Origin-Mex-Latency:
      - '233'
      - '695'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_3xEZ1pveda06mpf"}}'
  recorded_at: Thu, 26 Feb 2015 16:46:14 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_3xEZ1pveda06mpf&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w631
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '5'
      - '6'
      X-Edgeconnect-Origin-Mex-Latency:
      - '219'
      - '626'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true}}'
  recorded_at: Thu, 26 Feb 2015 16:46:14 GMT
recorded_with: VCR 2.9.2
