---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: ED=&Email=&ExternalDataRef=&FirstName=&Format=JSON&Language=&LastName=&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=&Request=addRecipient&Token=<QUALTRICS_TOKEN>&Unsubscribed=&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - '400'
      Requeststatus:
      - Failure
      Servershortname:
      - w18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"addRecipient","ErrorCode":400,"QualtricsErrorCode":"ESRV35|PanelID","ErrorMessage":"Invalid
        request. Missing or invalid parameter PanelID.","Debug":""},"Result":null}'
  recorded_at: Thu, 14 Aug 2014 21:00:08 GMT
recorded_with: VCR 2.9.2
