---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=InviteEmails&Format=JSON&Language=EN&LibraryID=<QUALTRICS_LIBRARY_ID&Message=Welcome&Name=Newest+Message&Request=createLibraryMessage&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w189
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '21'
      - '8'
      X-Edgeconnect-Origin-Mex-Latency:
      - '306'
      - '721'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"LibraryID":"<QUALTRICS_LIBRARY_ID","MessageID":"MS_a41begtO1N90zkN","Description":"Newest
        Message","Category":"InviteEmails"}}'
  recorded_at: Mon, 09 Feb 2015 21:07:17 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Request=getLibraryMessages&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w2
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '21'
      - '6'
      X-Edgeconnect-Origin-Mex-Latency:
      - '247'
      - '635'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"INVITE":{"MS_3mbqIRZuGe2W5tr":"Brookeside
        - Buyer Loyalty Survey","MS_6DwbFPV7uHKNZ1r":"Brookeside - Buyer Loyalty Survey
        (Dev)","MS_426OEcVob0uEnXv":"Buyer Loyalty Survey","MS_02EAmV1vUAviA97":"Buyer
        Loyalty Survey (Dev)","MS_5uS7iegzuk6EcHb":"Newest Message","MS_a41begtO1N90zkN":"Newest
        Message","MS_7P6F548SIAIpoKF":"Seller Loyalty Survey","MS_b416LnXLoGrZWhD":"Seller
        Loyalty Survey (Dev)"},"REMINDER":{"MS_agwmdoYmxKUxFat":"Buyer Reminder"},"THANKYOU":{"MS_3kPVyu0hVIya38V":"Brookeside
        Thank You","MS_9p2qtcB8q4e26SF":"SalesEquity.com Thank You","MS_0fiOydxs5Tvxgvb":"SalesEquity.com
        Thank You (Dev)"},"ENDOFSURVEY":[],"INACTIVESURVEY":[],"GENERAL":[],"LOOKANDFEEL":[]}}'
  recorded_at: Mon, 09 Feb 2015 21:07:18 GMT
recorded_with: VCR 2.9.2
