---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=InviteEmails&Format=JSON&Language=EN&LibraryID=<QUALTRICS_LIBRARY_ID>&Message=Welcome&Name=Newest+Message&Request=createLibraryMessage&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w17
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '18'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '179'
      - '609'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"LibraryID":"<QUALTRICS_LIBRARY_ID>","MessageID":"MS_0AsK5v6YiD5a0Yt","Description":"Newest
        Message","Category":"InviteEmails"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:52 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=getLibraryMessages&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w7
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '153'
      - '594'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"INVITE":{"MS_3mbqIRZuGe2W5tr":"Brookeside
        - Buyer Loyalty Survey","MS_6DwbFPV7uHKNZ1r":"Brookeside - Buyer Loyalty Survey
        (Dev)","MS_426OEcVob0uEnXv":"Buyer Loyalty Survey","MS_02EAmV1vUAviA97":"Buyer
        Loyalty Survey (Dev)","MS_0AsK5v6YiD5a0Yt":"Newest Message","MS_0l9Bp7g9dlC1Xk9":"Newest
        Message","MS_0xkZdWzpjZ0TD7f":"Newest Message","MS_3q11Z0JB3FvYeEJ":"Newest
        Message","MS_4HJhBbFLTIa84FD":"Newest Message","MS_576NMUtDHoofteB":"Newest
        Message","MS_7P6F548SIAIpoKF":"Seller Loyalty Survey","MS_b416LnXLoGrZWhD":"Seller
        Loyalty Survey (Dev)"},"REMINDER":{"MS_agwmdoYmxKUxFat":"Buyer Reminder"},"THANKYOU":{"MS_3kPVyu0hVIya38V":"Brookeside
        Thank You","MS_9p2qtcB8q4e26SF":"SalesEquity.com Thank You","MS_0fiOydxs5Tvxgvb":"SalesEquity.com
        Thank You (Dev)"},"ENDOFSURVEY":[],"INACTIVESURVEY":[],"GENERAL":[],"LOOKANDFEEL":[]}}'
  recorded_at: Thu, 26 Feb 2015 16:45:53 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=&Request=getLibraryMessages&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - '400'
      Requeststatus:
      - Failure
      Servershortname:
      - w295
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '25'
      X-Edgeconnect-Origin-Mex-Latency:
      - '411'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"getLibraryMessages","ErrorCode":400,"QualtricsErrorCode":"ESRV35|LibraryID","ErrorMessage":"Invalid
        request. Missing or invalid parameter LibraryID.","Debug":""},"Result":null}'
  recorded_at: Wed, 24 Feb 2016 16:31:30 GMT
recorded_with: VCR 3.0.1
