---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w8
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '194'
      - '643'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_71Efhllh9r7gas5"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:36 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Email=working%40hard.com&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_71Efhllh9r7gas5&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w18
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '213'
      - '637'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_ey84xxqasiRvaRL"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:37 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007f86ab94f500%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w295
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '3'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '477'
      - '920'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_0e89GnHVNmDvt9H"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:38 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=InviteEmails&Format=JSON&Language=EN&LibraryID=<QUALTRICS_LIBRARY_ID>&Message=Welcome&Name=Newest+Message&Request=createLibraryMessage&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w541
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '4'
      - '5'
      X-Edgeconnect-Origin-Mex-Latency:
      - '182'
      - '625'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"LibraryID":"<QUALTRICS_LIBRARY_ID>","MessageID":"MS_0l9Bp7g9dlC1Xk9","Description":"Newest
        Message","Category":"InviteEmails"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:39 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&FromEmail=example%40example.com&FromName=yes_qualtrics&MessageID=MS_0l9Bp7g9dlC1Xk9&MessageLibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_71Efhllh9r7gas5&PanelLibraryID=<QUALTRICS_LIBRARY_ID>&RecipientID=MLRP_ey84xxqasiRvaRL&Request=sendSurveyToIndividual&SendDate=2015-02-26+09%3A45%3A39&SentFromAddress=noreply%40qemailserver.com&Subject=game+convention&SurveyID=SV_0e89GnHVNmDvt9H&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w8
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1017'
      - '558'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true,"EmailDistributionID":"EMD_5yCjr6MAi3P26Rn","DistributionQueueID":"EMD_5yCjr6MAi3P26Rn"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:40 GMT
[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Request=deleteSurvey&SurveyID=SV_0e89GnHVNmDvt9H&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w19
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '9'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '570'
      - '992'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":null}'
  recorded_at: Thu, 26 Feb 2015 16:45:44 GMT
recorded_with: VCR 2.9.2
