---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w8
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '13'
      - '4'
      X-Edgeconnect-Origin-Mex-Latency:
      - '231'
      - '703'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_eKE5BoUJkTXUMgl"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:45 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Email=working%40hard.com&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_eKE5BoUJkTXUMgl&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w19
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '264'
      - '714'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_bacOAnKh8KuSzbv"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:46 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007f86abcb7378%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w541
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '6'
      X-Edgeconnect-Origin-Mex-Latency:
      - '476'
      - '940'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_eDQUSYcCYvj9yMl"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:47 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=InviteEmails&Format=JSON&Language=EN&LibraryID=<QUALTRICS_LIBRARY_ID>&Message=Welcome&Name=Newest+Message&Request=createLibraryMessage&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w015
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '208'
      - '655'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"LibraryID":"<QUALTRICS_LIBRARY_ID>","MessageID":"MS_3q11Z0JB3FvYeEJ","Description":"Newest
        Message","Category":"InviteEmails"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:47 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&FromEmail=example%40example.com&FromName=yes_qualtrics&MessageID=MS_3q11Z0JB3FvYeEJ&MessageLibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_eKE5BoUJkTXUMgl&PanelLibraryID=<QUALTRICS_LIBRARY_ID>&Request=sendSurveyToPanel&SendDate=2015-02-26+09%3A45%3A47&SentFromAddress=noreply%40qemailserver.com&Subject=game+convention&SurveyID=SV_eDQUSYcCYvj9yMl&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w541
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '7'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1123'
      - '593'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true,"EmailDistributionID":"EMD_cNLAwF9IoUn3R0p","DistributionQueueID":"EMD_cNLAwF9IoUn3R0p"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:49 GMT
[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Request=deleteSurvey&SurveyID=SV_eDQUSYcCYvj9yMl&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w8
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1048'
      - '634'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":null}'
  recorded_at: Thu, 26 Feb 2015 16:45:51 GMT
recorded_with: VCR 2.9.2
