---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/mailinglists/PI_1234/contacts/
    body:
      encoding: UTF-8
      string: '{"lastName":"test_last_name"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Token:
      - abc123abc123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"200 - OK"}, "result":{"id": "RC_987"}}'
  recorded_at: Mon, 28 Oct 2019 18:31:04 GMT
recorded_with: VCR 5.0.0
