---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=InviteEmails&Format=JSON&Language=EN&LibraryID=<QUALTRICS_LIBRARY_ID&Message=Welcome&Name=Newest+Message&Request=createLibraryMessage&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w202
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '19'
      - '6'
      X-Edgeconnect-Origin-Mex-Latency:
      - '285'
      - '693'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"LibraryID":"<QUALTRICS_LIBRARY_ID","MessageID":"MS_9taR2ISigRc719H","Description":"Newest
        Message","Category":"InviteEmails"}}'
  recorded_at: Mon, 09 Feb 2015 21:07:20 GMT
recorded_with: VCR 2.9.2
