---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Name=Division+Test&Request=createDivision&Token=<QUALTRICS_TOKEN>&User=rakhee.jairamani%40<QUALTRICS_ORGANIZATION>.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w2
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '30'
      - '8'
      X-Edgeconnect-Origin-Mex-Latency:
      - '122'
      - '650'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":"DV_cMXYEO7HtgbtA1f"}'
  recorded_at: Sat, 19 Mar 2016 20:49:54 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: DivisionID=DV_cMXYEO7HtgbtA1f&Email=division_user%40test.com&FirstName=Division&Format=JSON&LastName=User&NewPassword=123456&NewUsername=division_user&Organization=<QUALTRICS_ORGANIZATION>&Request=createUser&Token=<QUALTRICS_TOKEN>&Type=UT_3dBUKOs5wAT2mLW&User=rakhee.jairamani%40<QUALTRICS_ORGANIZATION>.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Status:
      - '500'
      Requeststatus:
      - Failure
      Servershortname:
      - w16
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '30'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1267'
      - '1709'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"createUser","ErrorCode":500,"QualtricsErrorCode":"ESEC75","ErrorMessage":"The
        maximum number of user accounts has been reached for this organization.","Debug":""},"Result":null}'
  recorded_at: Sat, 19 Mar 2016 20:49:56 GMT
recorded_with: VCR 3.0.1
