---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=1&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=importPanel&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "Email"
        "example@example.com"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w016
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '15'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '277'
      - '738'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_9N4DosupreB3Egd","Count":1,"IgnoredCount":0,"Recipients":{"MLRP_1SxGOxLSaDxKV0x":"example@example.com"}}}'
  recorded_at: Thu, 26 Feb 2015 16:45:56 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&EmbeddedData=4&ExternalData=5&FirstName=1&Format=JSON&Language=7&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=6&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","EmbeddedData","ExternalData","Unsubscribed","Language"
        "John","Smith","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w163
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '303'
      - '951'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_6g1UkJZsO4R4ADj","Count":1,"IgnoredCount":0,"Recipients":{"MLRP_1UrTX25ifbWyrop":"example@example.com"}}}'
  recorded_at: Thu, 26 Feb 2015 16:56:53 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&EmbeddedData=4&ExternalData=5&FirstName=1&Format=JSON&Language=7&LastName=2&LibraryID=&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=6&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","EmbeddedData","ExternalData","Unsubscribed","Language"
        "John","Smith","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - '400'
      Requeststatus:
      - Failure
      Servershortname:
      - w8
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '26'
      X-Edgeconnect-Origin-Mex-Latency:
      - '483'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"importPanel","ErrorCode":400,"QualtricsErrorCode":"ESRV35|LibraryID","ErrorMessage":"Invalid
        request. Missing or invalid parameter LibraryID.","Debug":""},"Result":null}'
  recorded_at: Wed, 24 Feb 2016 16:31:31 GMT
recorded_with: VCR 3.0.1
