---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"FirstName\"\r\n\r\n1\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"LastName\"\r\n\r\n2\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Email\"\r\n\r\n3\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"\"\r\n\r\n5\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Unsubscribed\"\r\n\r\n6\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Language\"\r\n\r\n7\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"LibraryID\"\r\n\r\n<QUALTRICS_LIBRARY_ID\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"ColumnHeaders\"\r\n\r\n1\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Data\"; filename=\"panel_import20140821-41470-vpednk\"\r\nContent-Length:
        150\r\nContent-Type: text/csv\r\nContent-Transfer-Encoding: binary\r\n\r\n\"first_name\",\"last_name\",\"email\",\"embedded_data\",\"external_data\",\"unsubscribed\",\"language\"\n\"First
        name\",\"Last name\",\"example@example.com\",\"\",\"\",\"\",\"\"\n\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"User\"\r\n\r\n<QUALTRICS_USER>\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Token\"\r\n\r\n<QUALTRICS_TOKEN>\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Version\"\r\n\r\n2.3\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Format\"\r\n\r\nJSON\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Request\"\r\n\r\nimportPanel\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w15
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_aWd6IsFRDFlVdGJ","Count":0,"IgnoredCount":0,"Recipients":[]}}'
  recorded_at: Thu, 21 Aug 2014 19:04:33 GMT
recorded_with: VCR 2.9.2
