---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w295
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '15'
      - '59'
      X-Edgeconnect-Origin-Mex-Latency:
      - '192'
      - '627'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_5dwgfsb3YPV7dvn"}}'
  recorded_at: Thu, 05 Feb 2015 21:24:41 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Request=getPanels&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w8
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '23'
      - '59'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1130'
      - '206'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Panels":[{"Name":"development
        Legacy Rapport October 2012","PanelID":"ML_002WVJFckyJV95z","Category":"Unassigned"},{"Name":"production
        Legacy Chartwells Secondary Q2 2014","PanelID":"ML_006gzsVZBBD1Fpb","Category":"Unassigned"},{"Name":"production
        Legacy Chartwells Secondary September 2012","PanelID":"ML_00diCLcAeZCuqHz","Category":"Unassigned"},{"Name":"production
        Legacy Chartwells Secondary June 2012","PanelID":"ML_00VyJOjGlL6e8jX","Category":"Unassigned"},{"Name":"production
        Legacy Chartwells May 2012","PanelID":"ML_00wGEBAzVfIdzHn","Category":"Unassigned"},{"[...]
