---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w668
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_dpa7lCwP6yR3k7X"}}'
  recorded_at: Thu, 14 Aug 2014 20:06:24 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Request=getPanels&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Panels":[{"Name":"production
        Quintiles Wave 1 2\/6\/2014","PanelID":"ML_01Fim1gOktC57a5","Category":"Unassigned"},{"Name":"acceptance
        JUNE WAVE","PanelID":"ML_08HjfJFDJ11SDzv","Category":"Unassigned"},{"Name":"acceptance
        FakeWaveTest","PanelID":"ML_08pKQVa2fvKYx3n","Category":"Unassigned"},{"Name":"new
        panel","PanelID":"ML_0cFd5U8arTOQ5jD","Category":"Unassigned"},{"Name":"acceptance
        Self Sign Up","PanelID":"ML_0dgFkGtGtgHEq0t","Category":"Unassigned"},{"Name":"sales
        Elance","PanelID":"ML_0dn4s6tBiJkaLNX","Category":"Unassigned"},{"Name":"development
   [...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_dpa7lCwP6yR3k7X&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w5
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true}}'
  recorded_at: Thu, 14 Aug 2014 20:06:26 GMT
recorded_with: VCR 2.9.2
