---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w2
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '7'
      - '7'
      X-Edgeconnect-Origin-Mex-Latency:
      - '193'
      - '633'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_73tHcDKtcR6fp0p"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:59 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=getPanels&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w634
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '12'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '227'
      - '754'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Panels":[{"Name":"production
        Legacy Chartwells Secondary Q2 2014","PanelID":"ML_006gzsVZBBD1Fpb","Category":"Unassigned"},{"Name":"production
        Legacy Chartwells Secondary September 2012","PanelID":"ML_00diCLcAeZCuqHz","Category":"Unassigned"},{"Name":"production
        Legacy Chartwells Secondary June 2012","PanelID":"ML_00VyJOjGlL6e8jX","Category":"Unassigned"},{"Name":"production
        Legacy Chartwells May 2012","PanelID":"ML_00wGEBAzVfIdzHn","Category":"Unassigned"},{"Name":"production
        Legacy Chartwells HE\/FE June 2012","PanelID":"ML_00Xqje1PksNW1cp","Category":"Unassigned"},{"N[...]
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=&Request=getPanels&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - '400'
      Requeststatus:
      - Failure
      Servershortname:
      - w202
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '25'
      X-Edgeconnect-Origin-Mex-Latency:
      - '313'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"getPanels","ErrorCode":400,"QualtricsErrorCode":"ESRV35|LibraryID","ErrorMessage":"Invalid
        request. Missing or invalid parameter LibraryID.","Debug":""},"Result":null}'
  recorded_at: Wed, 24 Feb 2016 16:31:32 GMT
recorded_with: VCR 3.0.1
