---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007f8cac53f6c0%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=<QUALTRICS_TOKEN>&User=rakhee.jairamani%40welltok.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w423
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '25'
      X-Edgeconnect-Origin-Mex-Latency:
      - '642'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_0eMjjevxl6C4AYd"}}'
  recorded_at: Wed, 24 Feb 2016 21:07:44 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Request=activateSurvey&SurveyID=SV_0eMjjevxl6C4AYd&Token=<QUALTRICS_TOKEN>&User=rakhee.jairamani%40welltok.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Status:
      - '500'
      Requeststatus:
      - Failure
      Servershortname:
      - w17
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '29'
      X-Edgeconnect-Origin-Mex-Latency:
      - '684'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"activateSurvey","ErrorCode":500,"QualtricsErrorCode":"ESEC27","ErrorMessage":"Account
        Restriction: Too Many Active Surveys -- The maximum number of active surveys
        has been reached","Debug":""},"Result":null}'
  recorded_at: Wed, 24 Feb 2016 21:07:45 GMT
recorded_with: VCR 3.0.1
