---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007f86ab581a90%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w8
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '551'
      - '974'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_50UtBZaHTnltkln"}}'
  recorded_at: Thu, 26 Feb 2015 16:46:37 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=getSurveys&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w19
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '13'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '316'
      - '734'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Surveys":[{"responses":"587","SurveyType":"SV","SurveyID":"SV_1zPYmohnDdgSdh3","SurveyName":"Full
        Insight Survey (Brookeside Version)","SurveyOwnerID":"<QUALTRICS_LIBRARY_ID>","SurveyStatus":"Active","SurveyStartDate":"0000-00-00
        00:00:00","SurveyExpirationDate":"0000-00-00 00:00:00","SurveyCreationDate":"2014-10-02
        18:03:12","CreatorID":"<QUALTRICS_LIBRARY_ID>","LastModified":"2014-12-31
        02:05:51","LastActivated":"2014-10-02 18:13:07","UserFirstName":"Engineer","UserLastName":"Development"},{"SurveyType":"SV","SurveyID":"SV_50UtBZaHTnltkln","SurveyName":"Complex
        survey","SurveyOwnerID":"<QUALTRICS_LIBRARY_ID>","SurveyStatus":"Inactive","SurveyStartDate":"0000-00-00
        00:00:00","SurveyExpirationDate":"0000-00-00 00:00:00","SurveyCreationDate":"2015-02-26
        09:46:31","CreatorID":"<QUALTRICS_LIBRARY_ID>","LastModified":"2015-02-26
        09:46:31","LastActivated":"0000-00-00 00:00:00","UserFirstName":"Engineer","UserLastName":"Development"},{"responses":"25","SurveyType":"SV","SurveyID":"SV_6ukYMZ14DGZic0R","SurveyName":"Full
        Insight Survey - Japan PROD","SurveyDescription":"Full Insight Survey - Japan","SurveyOwnerID":"<QUALTRICS_LIBRARY_ID>","SurveyStatus":"Active","SurveyStartDate":"0000-00-00
        00:00:00","SurveyExpirationDate":"0000-00-00 00:00:00","SurveyCreationDate":"2013-10-31
        13:05:06","CreatorID":"<QUALTRICS_LIBRARY_ID>","LastModified":"2014-02-12
        12:30:23","LastActivated":"2013-10-31 13:27:46","UserFirstName":"Engineer","UserLastName":"Development"},{"responses":"1975","SurveyType":"SV","SurveyID":"SV_aacWNKg4MVNw6Bn","SurveyName":"[...]
[...]
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=&Request=getSurveys&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w17
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '27'
      X-Edgeconnect-Origin-Mex-Latency:
      [...]
