---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_dmXaQ9biu4hOtq5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"id": "SV_dmXaQ9biu4hOtq5", "name": "Complex survey"}, "meta":
        { "httpStatus": "200 - OK", "requestId": "75643022-a7a8-4620-aeae-e4d12b28ac8e"}}'
  recorded_at: Mon, 28 Oct 2019 17:28:13 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/WRAPI/ControlPanel/api.php/deleteSurvey
    body:
      encoding: UTF-8
      string: '{"SurveyID":null}'
    headers:
      Content-Type:
      - application/json
      X-Api-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace-Id:
      - 2dd3675ceddb220b0ff7ace12d1bf56e (not sampled)
      X-Cnection:
      - close
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2019 17:41:41 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x000055e696c70fd8%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=&User=&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace-Id:
      - 1f60c9f3957ff3eb0f28644e45f92c77 (not sampled)
      Status:
      - '200'
      Requeststatus:
      - Failure
      X-Cnection:
      - close
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      X-Edgeconnect-Origin-Mex-Latency:
      - '165'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_dmXaQ9biu4hOtq5"}}'
  recorded_at: Mon, 28 Oct 2019 18:42:26 GMT
