---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007f938b12c660%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=<QUALTRICS_TOKEN>&User=rakhee.jairamani%40welltok.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w11
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '27'
      X-Edgeconnect-Origin-Mex-Latency:
      - '773'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_3Xd0wPOVQziQC8Z"}}'
  recorded_at: Wed, 24 Feb 2016 16:08:40 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&Request=getSurvey&SurveyID=SV_3Xd0wPOVQziQC8Z&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="Complex_survey.xml"
      Content-Transfer-Encoding:
      - binary
      Requeststatus:
      - Success
      Servershortname:
      - w295
      Content-Type:
      - text/xml
      X-Edgeconnect-Midmile-Rtt:
      - '27'
      X-Edgeconnect-Origin-Mex-Latency:
      - '801'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SurveyDefinition><SurveyName>Complex survey</SurveyName><OwnerID>UR_6mMOll6VM5c3mex</OwnerID><isActive>0</isActive><CreationDate>2016-02-24 09:08:39</CreationDate><LastModifiedDate>2016-02-24 09:08:39</LastModifiedDate><StartDate>0000-00-00 00:00:00</StartDate><ExpirationDate>0000-00-00 00:00:00</ExpirationDate><Languages><Language Default="1">EN</Language></Languages><Questions/><Blocks><Block Description="Default Question Block" ID="BL_1ZFnAEeaJ0VRJeB"/></Blocks><SurveyFlow><Block FlowID="FL_2" ID="BL_1ZFnAEeaJ0VRJeB"/></SurveyFlow><EmbeddedData/></SurveyDefinition>
  recorded_at: Wed, 24 Feb 2016 16:08:41 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Request=deleteSurvey&SurveyID=SV_3Xd0wPOVQziQC8Z&Token=<QUALTRICS_TOKEN>&User=rakhee.jairamani%40welltok.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w17
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '27'
      X-Edgeconnect-Origin-Mex-Latency:
      - '876'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":null}'
  recorded_at: Wed, 24 Feb 2016 16:08:42 GMT
recorded_with: VCR 3.0.1
