---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"Name\"\r\n\r\nComplex
        survey\r\n-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"Data\"; filename=\"sample_survey.xml\"\r\nContent-Length: 1296\r\nContent-Type:
        text/xml\r\nContent-Transfer-Encoding: binary\r\n\r\n<?xml version=\"1.0\"
        encoding=\"UTF-8\"?>\n<SurveyDefinition><SurveyName>Sample survey</SurveyName><OwnerID><QUALTRICS_LIBRARY_ID</OwnerID><isActive>0</isActive><CreationDate>2015-02-05
        13:57:01</CreationDate><LastModifiedDate>2015-02-05 13:57:41</LastModifiedDate><StartDate>0000-00-00
        00:00:00</StartDate><ExpirationDate>0000-00-00 00:00:00</ExpirationDate><Languages><Language
        Default=\"1\">EN</Language></Languages><Questions><Question QuestionID=\"QID1\"><Type>MC</Type><Selector>SAVR</Selector><SubSelector>TX</SubSelector><QuestionText><![CDATA[Only
        one questions]]></QuestionText><QuestionDescription><![CDATA[Only one questions]]></QuestionDescription><ExportTag><![CDATA[Q1]]></ExportTag><Validation><ForceResponse>0</ForceResponse></Validation><Choices><Choice
        ID=\"1\" Recode=\"1\"><Description><![CDATA[Not this]]></Description></Choice><Choice
        ID=\"2\" Recode=\"2\"><Description><![CDATA[This is it]]></Description></Choice><Choice
        ID=\"3\" Recode=\"3\"><Description><![CDATA[Cool answer]]></Description></Choice></Choices></Question></Questions><Blocks><Block
        Description=\"Default Question Block\" ID=\"BL_bef14vSx8WZHkdn\"><BlockElements><Question
        QuestionID=\"QID1\"/></BlockElements></Block></Blocks><SurveyFlow><Block FlowID=\"FL_2\"
        ID=\"BL_bef14vSx8WZHkdn\"/></SurveyFlow><EmbeddedData/></SurveyDefinition>\n\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"User\"\r\n\r\n<QUALTRICS_USER>\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Token\"\r\n\r\n<QUALTRICS_TOKEN>\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Version\"\r\n\r\n2.3\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Format\"\r\n\r\nJSON\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Request\"\r\n\r\nimportSurvey\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w016
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '472'
      - '936'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"SurveyID\":\"SV_20tuQ4U8vTylOlf\"}}"
  recorded_at: Mon, 09 Feb 2015 21:41:06 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Request=getSurveys&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w18
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '286'
      - '699'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"Surveys\":[{\"responses\":\"496\",\"SurveyType\":\"SV\",\"SurveyID\":\"SV_1zPYmohnDdgSdh3\",\"SurveyName\":\"Full
        Insight Survey (Brookeside Version)\",\"SurveyOwnerID\":\"<QUALTRICS_LIBRARY_ID\",\"SurveyStatus\":\"Active\",\"SurveyStartDate\":\"0000-00-00
        00:00:00\",\"SurveyExpirationDate\":\"0000-00-00 00:00:00\",\"SurveyCreationDate\":\"2014-10-02
        18:03:12\",\"CreatorID\":\"<QUALTRICS_LIBRARY_ID\",\"LastModified\":\"2014-12-31
        02:05:51\",\"LastActivated\":\"2014-10-02 18:13:07\",\"UserFirstName\":\"Engineer\",\"UserLastName\":\"Development\"},{\"SurveyType\":\"SV\",\"SurveyID\":\"SV_20tuQ4U8vTylOlf\",\"SurveyName\":\"Complex
        survey\",\"SurveyOwnerID\":\"<QUALTRICS_LIBRARY_ID\",\"SurveyStatus\":\"Inactive\",\"SurveyStartDate\":\"0000-00-00
        00:00:00\",\"SurveyExpirationDate\":\"0000-00-00 00:00:00\",\"SurveyCreationDate\":\"2015-02-09
        14:41:06\",\"CreatorID\":\"<QUALTRICS_LIBRARY_ID\",\"LastModified\":\"2015-02-09
        14:41:06\",\"LastActivated\":\"0000-00-00 00:00:00\",\"UserFirstName\":\"Engineer\",\"UserLastName\":\"Development\"},{\"responses\":\"25\",\"SurveyType\":\"SV\",\"SurveyID\":\"SV_6ukYMZ14DGZic0R\",\"SurveyName\":\"Full
        Insight Survey - Japan PROD\",\"SurveyDescription\":\"Full Insight Survey
        - Japan\",\"SurveyOwnerID\":\"<QUALTRICS_LIBRARY_ID\",\"SurveyStatus\":\"Active\",\"SurveyStartDate\":\"0000-00-00
        00:00:00\",\"SurveyExpirationDate\":\"0000-00-00 00:00:00\",\"SurveyCreationDate\":\"2013-10-31
        13:05:06\",\"CreatorID\":\"<QUALTRICS_LIBRARY_ID\",\"LastModified\":\"2014-02-12
        12:30:23\",\"LastActivated\":\"2013-10-31 13:27:46\",\"UserFirstName\":\"Engineer\",\"UserLastName\":\"Development\"},{\"responses\":\"1974\",\"SurveyType[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Request=deleteSurvey&SurveyID=SV_20tuQ4U8vTylOlf&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w2
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '555'
      - '986'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":null}"
  recorded_at: Mon, 09 Feb 2015 21:41:08 GMT
recorded_with: VCR 2.9.2
