---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/surveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Token:
      - BF7DzPBxMQV1BePTl02vE63PWljYrQqeiuK98acb
  response:
    status:
      code: 200
      message: OK
    headers:
      Request-Time:
      - '492'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[{"id":"SV_8ufiL2GeL6gNpqt","name":"Health_Summary_3.5_NPF_Survey_Andre","ownerId":"UR_bO58WasVlDL7m6h","lastModified":"2018-08-06T12:21:34Z","creationDate":"2018-06-28T13:29:14Z","isActive":false},{"id":"SV_0j6nbHn7DUttBwV","name":"KT_Health_Summary_3.5_NPF_Survey
        - PROD REFERENCE - PLEASE DO NOT EDIT - Copy","ownerId":"UR_bO58WasVlDL7m6h","lastModified":"2018-08-16T16:41:54Z","creationDate":"2018-08-16T16:41:53Z","isActive":false},{"id":"SV_0Mv4YSbSxGKiYmN","name":"INACTIVE
        - Health_Summary_3.5_NPF_Survey - PROD REFERENCE - PLEASE DO NOT EDIT 0 responses","ownerId":"UR_bO58WasVlDL7m6h","lastModified":"2019-05-13T17:58:41Z","creationDate":"2018-12-12T14:13:32Z","isA[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x0000562ad4f731b8%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=&User=&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace-Id:
      - 2f441f468043a1eb009f26e6d96f27cb
      Status:
      - '200'
      Requeststatus:
      - Failure
      X-Cnection:
      - close
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      X-Edgeconnect-Origin-Mex-Latency:
      - '177'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_8ufiL2GeL6gNpqt"}}'
  recorded_at: Mon, 28 Oct 2019 18:39:56 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/WRAPI/ControlPanel/api.php/deleteSurvey
    body:
      encoding: UTF-8
      string: '{"SurveyID":"SV_8ufiL2GeL6gNpqt"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace-Id:
      - 3ff5a4b1bec6537d22f1c54f91dae846 (not sampled)
      X-Cnection:
      - close
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2019 18:41:30 GMT
recorded_with: VCR 5.0.0
