---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w541
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '17'
      - '17'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1048'
      - '271'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"PanelID\":\"ML_abffVMSOQW7wkbr\"}}"
  recorded_at: Wed, 11 Feb 2015 19:16:08 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: FirstName=Kevin&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_abffVMSOQW7wkbr&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w17
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '16'
      - '18'
      X-Edgeconnect-Origin-Mex-Latency:
      - '235'
      - '686'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"RecipientID\":\"MLRP_3C2746Vr8YNiKxf\"}}"
  recorded_at: Wed, 11 Feb 2015 19:16:09 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: FirstName=Ben&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_abffVMSOQW7wkbr&RecipientID=MLRP_3C2746Vr8YNiKxf&Request=updateRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w631
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '23'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '226'
      - '589'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"Recipient\":{\"PanelMemberID\":\"MLRP_3C2746Vr8YNiKxf\",\"PanelID\":\"ML_abffVMSOQW7wkbr\",\"FirstName\":\"Ben\",\"LastName\":null,\"Email\":null,\"ExternalDataReference\":null,\"EmbeddedData\":null,\"Language\":null,\"RecipientResponseHistory\":null,\"RecipientEmailHistory\":null,\"Unsubscribed\":\"0\"}}}"
  recorded_at: Wed, 11 Feb 2015 19:16:10 GMT
[...]
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&RecipientID=MLRP_3C2746Vr8YNiKxf&Request=getRecipient&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w423
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '22'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '269'
      - '794'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"Recipient\":{\"PanelMemberID\":\"MLRP_3C2746Vr8YNiKxf\",\"PanelID\":\"ML_abffVMSOQW7wkbr\",\"FirstName\":\"Ben\",\"LastName\":null,\"Email\":null,\"ExternalDataReference\":null,\"EmbeddedData\":null,\"Language\":null,\"RecipientResponseHistory\":null,\"RecipientEmailHistory\":null,\"Unsubscribed\":\"0\"}}}"
  recorded_at: Wed, 11 Feb 2015 19:16:11 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_abffVMSOQW7wkbr&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w423
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '12'
      - '24'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1036'
      - '1541'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"Success\":true}}"
  recorded_at: Wed, 11 Feb 2015 19:16:13 GMT
recorded_with: VCR 2.9.3
