---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w6
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_bm832H3mJ3TYsdL"}}'
  recorded_at: Fri, 15 Aug 2014 15:30:19 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: FirstName=Kevin&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_bm832H3mJ3TYsdL&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w15
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_eR0QwZZobo2VsDX"}}'
  recorded_at: Fri, 15 Aug 2014 15:30:20 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: FirstName=Ben&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_bm832H3mJ3TYsdL&RecipientID=MLRP_eR0QwZZobo2VsDX&Request=updateRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w11
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Recipient":{"PanelMemberID":"MLRP_eR0QwZZobo2VsDX","PanelID":"ML_bm832H3mJ3TYsdL","FirstName":"Ben","LastName":null,"Email":null,"ExternalDataReference":null,"EmbeddedData":null,"Language":null,"RecipientResponseHistory":null,"RecipientEmailHistory":null,"Unsubscribed":"0"}}}'
  recorded_at: Fri, 15 Aug 2014 15:30:21 GMT
[...]
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&RecipientID=MLRP_eR0QwZZobo2VsDX&Request=getRecipient&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w427
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Recipient":{"PanelMemberID":"MLRP_eR0QwZZobo2VsDX","PanelID":"ML_bm832H3mJ3TYsdL","FirstName":"Ben","LastName":null,"Email":null,"ExternalDataReference":null,"EmbeddedData":null,"Language":null,"RecipientResponseHistory":null,"RecipientEmailHistory":null,"Unsubscribed":"0"}}}'
  recorded_at: Fri, 15 Aug 2014 15:30:23 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_bm832H3mJ3TYsdL&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w5
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true}}'
  recorded_at: Fri, 15 Aug 2014 15:30:24 GMT
recorded_with: VCR 2.9.2
