---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w634
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '15'
      - '40'
      X-Edgeconnect-Origin-Mex-Latency:
      - '250'
      - '695'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_bvIsQGKg0oaZxBj"}}'
  recorded_at: Thu, 05 Feb 2015 21:25:19 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_bvIsQGKg0oaZxBj&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w016
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '15'
      - '56'
      X-Edgeconnect-Origin-Mex-Latency:
      - '242'
      - '766'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_1R2QOF3tkj0hBpb"}}'
  recorded_at: Thu, 05 Feb 2015 21:25:20 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&RecipientID=MLRP_1R2QOF3tkj0hBpb&Request=getRecipient&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w2
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '17'
      - '54'
      X-Edgeconnect-Origin-Mex-Latency:
      - '178'
      - '3648'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Recipient":{"PanelMemberID":"MLRP_1R2QOF3tkj0hBpb","PanelID":"ML_bvIsQGKg0oaZxBj","FirstName":null,"LastName":null,"Email":null,"ExternalDataReference":null,"EmbeddedData":null,"Language":null,"RecipientResponseHistory":null,"RecipientEmailHistory":null,"Unsubscribed":"0"}}}'
  recorded_at: Thu, 05 Feb 2015 21:25:24 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_bvIsQGKg0oaZxBj&RecipientID=MLRP_1R2QOF3tkj0hBpb&Request=removeRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w423
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '61'
      X-Edgeconnect-Origin-Mex-Latency:
      - '243'
      - '630'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":1}}'
  recorded_at: Thu, 05 Feb 2015 21:25:25 GMT
[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_bvIsQGKg0oaZxBj&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w631
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '14'
      - '49'
      X-Edgeconnect-Origin-Mex-Latency:
      - '223'
      - '660'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true}}'
  recorded_at: Thu, 05 Feb 2015 21:25:27 GMT
recorded_with: VCR 2.9.2
