---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w423
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '14'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '264'
      - '649'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"PanelID\":\"ML_3eXCrvD0YGZtyp7\"}}"
  recorded_at: Wed, 11 Feb 2015 19:16:05 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: FirstName=Kevin&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_3eXCrvD0YGZtyp7&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w17
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '21'
      X-Edgeconnect-Origin-Mex-Latency:
      - '290'
      - '745'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"RecipientID\":\"MLRP_8eKIWVhV1BcwsZL\"}}"
  recorded_at: Wed, 11 Feb 2015 19:16:06 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&RecipientID=MLRP_8eKIWVhV1BcwsZL&Request=getRecipient&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w11
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '16'
      - '19'
      X-Edgeconnect-Origin-Mex-Latency:
      - '194'
      - '598'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"Recipient\":{\"PanelMemberID\":\"MLRP_8eKIWVhV1BcwsZL\",\"PanelID\":\"ML_3eXCrvD0YGZtyp7\",\"FirstName\":\"Kevin\",\"LastName\":null,\"Email\":null,\"ExternalDataReference\":null,\"EmbeddedData\":null,\"Language\":null,\"RecipientResponseHistory\":null,\"RecipientEmailHistory\":null,\"Unsubscribed\":\"0\"}}}"
  recorded_at: Wed, 11 Feb 2015 19:16:06 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_3eXCrvD0YGZtyp7&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w11
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '14'
      - '18'
      X-Edgeconnect-Origin-Mex-Latency:
      - '298'
      - '734'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"Success\":true}}"
  recorded_at: Wed, 11 Feb 2015 19:16:07 GMT
recorded_with: VCR 2.9.3
