---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w634
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '5'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '201'
      - '628'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_1OgQO4F5uUE7YJD"}}'
  recorded_at: Thu, 26 Feb 2015 16:46:15 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: FirstName=Kevin&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_1OgQO4F5uUE7YJD&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w17
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '6'
      X-Edgeconnect-Origin-Mex-Latency:
      - '295'
      - '816'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_8FUadcL3Re6d0Gx"}}'
  recorded_at: Thu, 26 Feb 2015 16:46:16 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&RecipientID=MLRP_8FUadcL3Re6d0Gx&Request=getRecipient&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w11
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '6'
      X-Edgeconnect-Origin-Mex-Latency:
      - '234'
      - '646'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Recipient":{"PanelMemberID":"MLRP_8FUadcL3Re6d0Gx","PanelID":"ML_1OgQO4F5uUE7YJD","FirstName":"Kevin","LastName":null,"Email":null,"ExternalDataReference":null,"EmbeddedData":null,"Language":null,"RecipientResponseHistory":null,"RecipientEmailHistory":null,"Unsubscribed":"0"}}}'
  recorded_at: Thu, 26 Feb 2015 16:46:17 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_1OgQO4F5uUE7YJD&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w202
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '289'
      - '733'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true}}'
  recorded_at: Thu, 26 Feb 2015 16:46:18 GMT
recorded_with: VCR 2.9.2
