---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w202
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '15'
      - '53'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1180'
      - '270'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_blPdhltrgoDn541"}}'
  recorded_at: Thu, 05 Feb 2015 21:25:06 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: FirstName=Kevin&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_blPdhltrgoDn541&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w189
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '55'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1141'
      - '219'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_db9bshIUE10TVWJ"}}'
  recorded_at: Thu, 05 Feb 2015 21:25:07 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&RecipientID=MLRP_db9bshIUE10TVWJ&Request=getRecipient&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w8
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '52'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1792'
      - '261'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Recipient":{"PanelMemberID":"MLRP_db9bshIUE10TVWJ","PanelID":"ML_blPdhltrgoDn541","FirstName":"Kevin","LastName":null,"Email":null,"ExternalDataReference":null,"EmbeddedData":null,"Language":null,"RecipientResponseHistory":null,"RecipientEmailHistory":null,"Unsubscribed":"0"}}}'
  recorded_at: Thu, 05 Feb 2015 21:25:09 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID&PanelID=ML_blPdhltrgoDn541&Request=deletePanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w423
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '54'
      X-Edgeconnect-Origin-Mex-Latency:
      - '398'
      - '802'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true}}'
  recorded_at: Thu, 05 Feb 2015 21:25:10 GMT
recorded_with: VCR 2.9.2
