---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w631
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '17'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '278'
      - '712'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_0drGGpGiNSCwTY1"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:07 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Email=working%40hard.com&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_0drGGpGiNSCwTY1&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w19
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '8'
      X-Edgeconnect-Origin-Mex-Latency:
      - '243'
      - '740'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_8rbSYZkfwm4IWjz"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:08 GMT
[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007f86aaa8f510%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w016
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1070'
      - '620'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_7VhhXvVZfJo4j41"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:10 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=InviteEmails&Format=JSON&Language=EN&LibraryID=<QUALTRICS_LIBRARY_ID>&Message=Welcome&Name=Newest+Message&Request=createLibraryMessage&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w423
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '4'
      - '7'
      X-Edgeconnect-Origin-Mex-Latency:
      - '182'
      - '642'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"LibraryID":"<QUALTRICS_LIBRARY_ID>","MessageID":"MS_0xkZdWzpjZ0TD7f","Description":"Newest
        Message","Category":"InviteEmails"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:11 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&FromEmail=example%40example.com&FromName=yes_qualtrics&MessageID=MS_0xkZdWzpjZ0TD7f&MessageLibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_0drGGpGiNSCwTY1&PanelLibraryID=<QUALTRICS_LIBRARY_ID>&RecipientID=MLRP_8rbSYZkfwm4IWjz&Request=sendSurveyToIndividual&SendDate=2015-02-26+09%3A45%3A11&SentFromAddress=noreply%40qemailserver.com&Subject=game+convention&SurveyID=SV_7VhhXvVZfJo4j41&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w7
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '8'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1048'
      - '594'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true,"EmailDistributionID":"EMD_6nduaXKdnt1BBSl","DistributionQueueID":"EMD_6nduaXKdnt1BBSl"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:12 GMT
[...]
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_0drGGpGiNSCwTY1&Request=getDistributions&SurveyID=SV_7VhhXvVZfJo4j41&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w163
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '369'
      - '795'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Distributions":[{"EmailDistributionID":"EMD_6nduaXKdnt1BBSl","ParentEmailDistributionID":null,"OwnerID":"<QUALTRICS_LIBRARY_ID>","ServerID":null,"BrandID":"brookeside","RequestStatus":"Pending","RequestType":"Invite","SurveyID":"SV_7VhhXvVZfJo4j41","DistributionQueueID":null,"IndexID":"ML_0drGGpGiNSCwTY1","SendDate":"2015-02-26
        09:45:11","ApproxEmails":1,"EmailsSent":"0","EmailsFailed":"0","EmailsResponded":"0","EmailsBounced":"0","EmailsOpened":"0","EmailsSkipped":"0","LastRecipientRowID":null,"SurveysFinished":"0","DistributionLog":null,"Temporary":"0","Complaints":"0","JobID":"J_9zwgm7C94ZSWCKp","DeletedDate":null,"CreatedDate":"2015-02-26
        09:45:07","ModifiedDate":"2015-02-26 09:45:07","SentFromAddress":"noreply@qemailserver.com","FromEmailAddress":"example@example.com","FromName":"yes_qualtrics","Subject":"game
        convention","MessageLibraryID":"<QUALTRICS_LIBRARY_ID>","MessageID":"MS_0xkZdWzpjZ0TD7f","ExpirationDate":"2015-04-27
        09:45:11","LinkType":"Individual","MailingListID":"ML_0drGGpGiNSCwTY1","RecipientID":"MLRP_8rbSYZkfwm4IWjz","PanelID":"ML_0drGGpGiNSCwTY1","IDS":{"MessageLibraryID":"<QUALTRICS_LIBRARY_ID>","RecipientLibraryID":"<QUALTRICS_LIBRARY_ID>","RecipientMailingListID":"ML_0drGGpGiNSCwTY1"},"ExpireDay":"custom","RecipientLibraryID":"<QUALTRICS_LIBRARY_ID>","UseDistributionLink":false},{"EmailDistributionID":"EMD_b4oQ3bTR8yUYTqZ","ParentEmailDistributionID":null,"OwnerID":"<QUALTRICS_LIBRARY_ID>","ServerID":null,"BrandID":"brookeside","RequestStatus":"Pending","RequestType":"Invite","SurveyID":"SV_7VhhXvVZfJo4j41","DistributionQueueID":null,"IndexID":"ML_0drGGpGiNSCwTY1","SendDate":"2015-02-26
        09:45:11","ApproxEmails":1,"EmailsSent":"0","EmailsFailed":"0","EmailsResponded":"0","EmailsBounced":"0","EmailsOpened":"0","EmailsSkipped":"0","LastRecipientRowID":null,"SurveysFinished":"0","DistributionLog":null,"Temporary":"0","Complaints":"0","JobID":"J_6nBKEzeldXKwiA5","DeletedDate":null,"CreatedDate":"2015-02-26
        09:45:08","ModifiedDate":"2015-02-26 09:45:08","SentFromAddress":"noreply@qemailserver.com","FromEmailAddress":"example@example.com","FromName":"yes_qualtrics","Subject":"game
        convention","MessageLibraryID":"<QUALTRICS_LIBRARY_ID>","MessageID":"MS_0xkZdWzpjZ0TD7f","ExpirationDate":"2015-04-27
        09:45:11","LinkType":"Individual","MailingListID":"ML_0drGGpGiNSCwTY1","RecipientID":"MLRP_8Cwvtjz42N79mL3","PanelID":"ML_0drGGpGiNSCwTY1","IDS":{"MessageLibraryID":"<QUALTRICS_LIBRARY_ID>","RecipientLibraryID":"<QUALTRICS_LIBRARY_ID>","RecipientMailingListID":"ML_0drGGpGiNSCwTY1"},"ExpireDay":"custom","RecipientLibraryID":"<QUALTRICS_LIBRARY_ID>","UseDistributionLink":false}]}}'
  recorded_at: Thu, 26 Feb 2015 16:45:14 GMT
[...]
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&LibraryID=&PanelID=ML_0drGGpGiNSCwTY1&Request=getDistributions&SurveyID=SV_7VhhXvVZfJo4j41&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Status:
      - '500'
      Requeststatus:
      - Failure
      Servershortname:
      - w11
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '26'
      X-Edgeconnect-Origin-Mex-Latency:
      - '512'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"getDistributions","ErrorCode":500,"QualtricsErrorCode":"ESRV18","ErrorMessage":"This
        survey is Unknown to this user account.","Debug":""},"Result":null}'
  recorded_at: Wed, 24 Feb 2016 16:31:28 GMT
recorded_with: VCR 3.0.1
