---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w11
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '16'
      X-Edgeconnect-Origin-Mex-Latency:
      - '284'
      - '744'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"PanelID\":\"ML_2i9pIk4v113O93D\"}}"
  recorded_at: Wed, 11 Feb 2015 19:15:08 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Email=working%40hard.com&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_2i9pIk4v113O93D&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w295
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '17'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '202'
      - '617'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"RecipientID\":\"MLRP_aWDyaPtCl3V5tat\"}}"
  recorded_at: Wed, 11 Feb 2015 19:15:09 GMT
[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"Name\"\r\n\r\nComplex
        survey\r\n-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"Data\"; filename=\"sample_survey.xml\"\r\nContent-Length: 1296\r\nContent-Type:
        text/xml\r\nContent-Transfer-Encoding: binary\r\n\r\n<?xml version=\"1.0\"
        encoding=\"UTF-8\"?>\n<SurveyDefinition><SurveyName>Sample survey</SurveyName><OwnerID><QUALTRICS_LIBRARY_ID></OwnerID><isActive>0</isActive><CreationDate>2015-02-05
        13:57:01</CreationDate><LastModifiedDate>2015-02-05 13:57:41</LastModifiedDate><StartDate>0000-00-00
        00:00:00</StartDate><ExpirationDate>0000-00-00 00:00:00</ExpirationDate><Languages><Language
        Default=\"1\">EN</Language></Languages><Questions><Question QuestionID=\"QID1\"><Type>MC</Type><Selector>SAVR</Selector><SubSelector>TX</SubSelector><QuestionText><![CDATA[Only
        one questions]]></QuestionText><QuestionDescription><![CDATA[Only one questions]]></QuestionDescription><ExportTag><![CDATA[Q1]]></ExportTag><Validation><ForceResponse>0</ForceResponse></Validation><Choices><Choice
        ID=\"1\" Recode=\"1\"><Description><![CDATA[Not this]]></Description></Choice><Choice
        ID=\"2\" Recode=\"2\"><Description><![CDATA[This is it]]></Description></Choice><Choice
        ID=\"3\" Recode=\"3\"><Description><![CDATA[Cool answer]]></Description></Choice></Choices></Question></Questions><Blocks><Block
        Description=\"Default Question Block\" ID=\"BL_bef14vSx8WZHkdn\"><BlockElements><Question
        QuestionID=\"QID1\"/></BlockElements></Block></Blocks><SurveyFlow><Block FlowID=\"FL_2\"
        ID=\"BL_bef14vSx8WZHkdn\"/></SurveyFlow><EmbeddedData/></SurveyDefinition>\n\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"User\"\r\n\r\n<QUALTRICS_USER>\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Token\"\r\n\r\n<QUALTRICS_TOKEN>\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Version\"\r\n\r\n2.3\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Format\"\r\n\r\nJSON\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"Request\"\r\n\r\nimportSurvey\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w295
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '17'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '534'
      - '958'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"SurveyID\":\"SV_9Sln41J76uDNFit\"}}"
  recorded_at: Wed, 11 Feb 2015 19:15:11 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=InviteEmails&Format=JSON&Language=EN&LibraryID=<QUALTRICS_LIBRARY_ID>&Message=Welcome&Name=Newest+Message&Request=createLibraryMessage&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w015
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '15'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '206'
      - '588'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"LibraryID\":\"<QUALTRICS_LIBRARY_ID>\",\"MessageID\":\"MS_bK4jk5GXecX8ZCJ\",\"Description\":\"Newest
        Message\",\"Category\":\"InviteEmails\"}}"
  recorded_at: Wed, 11 Feb 2015 19:15:12 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&FromEmail=example%40example.com&FromName=yes_qualtrics&MessageID=MS_bK4jk5GXecX8ZCJ&MessageLibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_2i9pIk4v113O93D&PanelLibraryID=<QUALTRICS_LIBRARY_ID>&RecipientID=MLRP_aWDyaPtCl3V5tat&Request=sendSurveyToIndividual&SendDate=2015-02-11+12%3A15%3A12&SentFromAddress=noreply%40qemailserver.com&Subject=game+convention&SurveyID=SV_9Sln41J76uDNFit&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w17
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '16'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1121'
      - '649'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"Success\":true,\"EmailDistributionID\":\"EMD_cPkytBbBvSK0nmR\",\"DistributionQueueID\":\"EMD_cPkytBbBvSK0nmR\"}}"
  recorded_at: Wed, 11 Feb 2015 19:15:13 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?DistributionID=EMD_cPkytBbBvSK0nmR&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=getDistributions&SurveyID=SV_9Sln41J76uDNFit&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w163
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '18'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '311'
      - '717'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":{\"Distributions\":{\"EmailDistributionID\":\"EMD_cPkytBbBvSK0nmR\",\"ParentEmailDistributionID\":null,\"OwnerID\":\"<QUALTRICS_LIBRARY_ID>\",\"ServerID\":null,\"BrandID\":\"brookeside\",\"RequestStatus\":\"Pending\",\"RequestType\":\"Invite\",\"SurveyID\":\"SV_9Sln41J76uDNFit\",\"DistributionQueueID\":null,\"IndexID\":\"ML_2i9pIk4v113O93D\",\"SendDate\":\"2015-02-11
        12:15:12\",\"ApproxEmails\":1,\"EmailsSent\":\"0\",\"EmailsFailed\":\"0\",\"EmailsResponded\":\"0\",\"EmailsBounced\":\"0\",\"EmailsOpened\":\"0\",\"EmailsSkipped\":\"0\",\"LastRecipientRowID\":null,\"SurveysFinished\":\"0\",\"DistributionLog\":null,\"Temporary\":\"0\",\"Complaints\":\"0\",\"JobID\":\"J_eG5NEBHHGBQ2q1f\",\"DeletedDate\":null,\"CreatedDate\":\"2015-02-11
        12:15:10\",\"ModifiedDate\":\"2015-02-11 12:15:10\",\"SentFromAddress\":\"noreply@qemailserver.com\",\"FromEmailAddress\":\"example@example.com\",\"FromName\":\"yes_qualtrics\",\"Subject\":\"game
        convention\",\"MessageLibraryID\":\"<QUALTRICS_LIBRARY_ID>\",\"MessageID\":\"MS_bK4jk5GXecX8ZCJ\",\"ExpirationDate\":\"2015-04-12
        12:15:12\",\"LinkType\":\"Individual\",\"MailingListID\":\"ML_2i9pIk4v113O93D\",\"RecipientID\":\"MLRP_aWDyaPtCl3V5tat\",\"PanelID\":\"ML_2i9pIk4v113O93D\",\"IDS\":{\"MessageLibraryID\":\"<QUALTRICS_LIBRARY_ID>\",\"RecipientLibraryID\":\"<QUALTRICS_LIBRARY_ID>\",\"RecipientMailingListID\":\"ML_2i9pIk4v113O93D\"},\"ExpireDay\":\"custom\",\"RecipientLibraryID\":\"<QUALTRICS_LIBRARY_ID>\",\"UseDistributionLink\":false}}}"
  recorded_at: Wed, 11 Feb 2015 19:15:14 GMT
[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Request=deleteSurvey&SurveyID=SV_9Sln41J76uDNFit&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w2
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '15'
      - '9'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1035'
      - '628'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Meta\":{\"Status\":\"Success\",\"Debug\":\"\"},\"Result\":null}"
  recorded_at: Wed, 11 Feb 2015 19:15:17 GMT
recorded_with: VCR 2.9.3
