---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w17
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '18'
      - '4'
      X-Edgeconnect-Origin-Mex-Latency:
      - '391'
      - '862'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_eKE2eMKYvl0k1bn"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:19 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Email=working%40hard.com&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_eKE2eMKYvl0k1bn&Request=addRecipient&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w18
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '14'
      - '4'
      X-Edgeconnect-Origin-Mex-Latency:
      - '204'
      - '631'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_3lpkEWAVIdnGxw1"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:19 GMT
[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007f86aab6efa8%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w11
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '19'
      - '8'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1077'
      - '643'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_eYiuFpqEnilVmVn"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:21 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=InviteEmails&Format=JSON&Language=EN&LibraryID=<QUALTRICS_LIBRARY_ID>&Message=Welcome&Name=Newest+Message&Request=createLibraryMessage&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w631
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '12'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '204'
      - '726'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"LibraryID":"<QUALTRICS_LIBRARY_ID>","MessageID":"MS_4HJhBbFLTIa84FD","Description":"Newest
        Message","Category":"InviteEmails"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:22 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&FromEmail=example%40example.com&FromName=yes_qualtrics&MessageID=MS_4HJhBbFLTIa84FD&MessageLibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_eKE2eMKYvl0k1bn&PanelLibraryID=<QUALTRICS_LIBRARY_ID>&RecipientID=MLRP_3lpkEWAVIdnGxw1&Request=sendSurveyToIndividual&SendDate=2015-02-26+09%3A45%3A22&SentFromAddress=noreply%40qemailserver.com&Subject=game+convention&SurveyID=SV_eYiuFpqEnilVmVn&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w634
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '12'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1050'
      - '604'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Success":true,"EmailDistributionID":"EMD_b8E27DbWW5znDyl","DistributionQueueID":"EMD_b8E27DbWW5znDyl"}}'
  recorded_at: Thu, 26 Feb 2015 16:45:23 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?DistributionID=EMD_b8E27DbWW5znDyl&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=getDistributions&SurveyID=SV_eYiuFpqEnilVmVn&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w163
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '14'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '335'
      - '778'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"Distributions":{"EmailDistributionID":"EMD_b8E27DbWW5znDyl","ParentEmailDistributionID":null,"OwnerID":"<QUALTRICS_LIBRARY_ID>","ServerID":null,"BrandID":"brookeside","RequestStatus":"Pending","RequestType":"Invite","SurveyID":"SV_eYiuFpqEnilVmVn","DistributionQueueID":null,"IndexID":"ML_eKE2eMKYvl0k1bn","SendDate":"2015-02-26
        09:45:22","ApproxEmails":1,"EmailsSent":"0","EmailsFailed":"0","EmailsResponded":"0","EmailsBounced":"0","EmailsOpened":"0","EmailsSkipped":"0","LastRecipientRowID":null,"SurveysFinished":"0","DistributionLog":null,"Temporary":"0","Complaints":"0","JobID":"J_ba10lVgYfCYQt6Z","DeletedDate":null,"CreatedDate":"2015-02-26
        09:45:18","ModifiedDate":"2015-02-26 09:45:18","SentFromAddress":"noreply@qemailserver.com","FromEmailAddress":"example@example.com","FromName":"yes_qualtrics","Subject":"game
        convention","MessageLibraryID":"<QUALTRICS_LIBRARY_ID>","MessageID":"MS_4HJhBbFLTIa84FD","ExpirationDate":"2015-04-27
        09:45:22","LinkType":"Individual","MailingListID":"ML_eKE2eMKYvl0k1bn","RecipientID":"MLRP_3lpkEWAVIdnGxw1","PanelID":"ML_eKE2eMKYvl0k1bn","IDS":{"MessageLibraryID":"<QUALTRICS_LIBRARY_ID>","RecipientLibraryID":"<QUALTRICS_LIBRARY_ID>","RecipientMailingListID":"ML_eKE2eMKYvl0k1bn"},"ExpireDay":"custom","RecipientLibraryID":"<QUALTRICS_LIBRARY_ID>","UseDistributionLink":false}}}'
  recorded_at: Thu, 26 Feb 2015 16:45:24 GMT
[...]
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Request=deleteSurvey&SurveyID=SV_eYiuFpqEnilVmVn&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w19
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      - '7'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1106'
      - '503'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":null}'
  recorded_at: Thu, 26 Feb 2015 16:45:28 GMT
recorded_with: VCR 2.9.2
