---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w634
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '14'
      X-Edgeconnect-Origin-Mex-Latency:
      - '224'
      - '733'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_5gMUHo4Xfog8K6F"}}'
  recorded_at: Thu, 12 Mar 2015 20:52:52 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&EmbeddedData=4&ExternalData=5&FirstName=1&Format=JSON&Language=7&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_5gMUHo4Xfog8K6F&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=6&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","EmbeddedData","ExternalData","Unsubscribed","Language"
        "New","Person","example@example.com","","","",""
        "Another","NewPerson","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w202
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '10'
      - '11'
      X-Edgeconnect-Origin-Mex-Latency:
      - '323'
      - '792'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_5gMUHo4Xfog8K6F","Count":2,"IgnoredCount":0,"Recipients":{"MLRP_9BmlZ9vmPgQ9hGJ":"example@example.com","MLRP_7WlcwPHwkUYPWKx":"example@example.com"}}}'
  recorded_at: Thu, 12 Mar 2015 20:52:53 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&EmbeddedData=4&ExternalData=5&FirstName=1&Format=JSON&Language=7&LastName=2&LibraryID=&PanelID=ML_5gMUHo4Xfog8K6F&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=6&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","EmbeddedData","ExternalData","Unsubscribed","Language"
        "New","Person","example@example.com","","","",""
        "Another","NewPerson","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - '400'
      Requeststatus:
      - Failure
      Servershortname:
      - w015
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '25'
      X-Edgeconnect-Origin-Mex-Latency:
      - '374'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"importPanel","ErrorCode":400,"QualtricsErrorCode":"ESRV35|LibraryID","ErrorMessage":"Invalid
        request. Missing or invalid parameter LibraryID.","Debug":""},"Result":null}'
  recorded_at: Wed, 24 Feb 2016 16:31:33 GMT
recorded_with: VCR 3.0.1
