---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007f86aa9d7aa0%3E&Format=JSON&Name=&Request=importSurvey&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w631
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '16'
      - '7'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1063'
      - '680'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_1NSXtBTZgN1GA2p"}}'
  recorded_at: Thu, 26 Feb 2015 16:46:29 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Format=JSON&Request=deleteSurvey&SurveyID=SV_1NSXtBTZgN1GA2p&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w634
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '16'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '469'
      - '938'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":null}'
  recorded_at: Thu, 26 Feb 2015 16:46:30 GMT
recorded_with: VCR 2.9.2
